.movie-latest-list {
  background-color: fade-out(#7149a0, 0.7);
  padding: 3rem 0;

  .SwiperLatestMovies {
    .swiper-button-prev, .swiper-button-next {
      &:after {
        color: #ffffff;
      }
    }
  }
}