.randomovie {
  background-color: #573280;

  &__block {
    position: relative;
    height: 75vh;
    max-height: 75vh;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: fade-out(#000, 0.5);
      // background: linear-gradient(to right, #c33764, #7149a0);
      // opacity: 0.6;
    }

    > .container {
      max-width: 900px;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__info {
    .stars {
      > svg {
        path {
          fill: yellow;
        }
      }
    }
  }

  &__btns {
    .btn-primary {
      background-color: #573280;
      border-color: #573280;

      &:hover {
        background-color: #7149a0;
        border-color: #7149a0;
      }
    }

    .btn-outline-primary {
      background-color: fade-out(#573280, 0.7);
      border-color: #7149a0;
      color: #ffffff;

      &:hover {
        background-color: #7149a0;
        border-color: #7149a0;
      }
    }
  }
}